@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}


/* Heading and logo */

#logo img{
    width:200px;
    position:absolute;
    height:100px ;
    width:100px ;
    
}

.header-text{
    position: absolute;
    top:15px;
    left:42px;
    
}

/* Navigation */
.nav-bar {display: flex;
    flex-wrap:wrap;
    }

nav {
    background-color:lightpink;
    display: flex;
    height: 100px;
    width:100%;
    align-items: center;
    justify-content: flex-end;}

 /* Responsive layout - makes a one column layout instead of a two-column layout */
 @media (max-width: 100%) {
    .flex-container {
        display: flex;
        flex-direction: row;
      } 
    
    }
  

nav ul{ 
    float:right;
        margin-top: 40px;
        margin-right: 40px;
}
               
nav ul li {
    display: inline-block;
    margin-left: 7px;
    margin-right: 20px;
    font-style:italic;
    
}

a {
    color:rgb(139,69,19);
}
           

nav ul li a {
    text-decoration: none;
    font-size: 27px;
}


nav ul li a:hover {
    border-bottom: 1.5px solid rgb(139,69,19);;
}

/* brown eyes image */

.browneyes{
    padding-bottom: 30px;
    display: flex;
    flex-wrap:wrap;
}

.browneyes > img {
    width: 100%; 
    
}

@media screen and (max-width:750px)
  .nav-bar {
    aligh-items:center;

  }

  nav > ul {
    /* float:0; */
    margin:0;
  }
/* main text */
h1 {
    font-family:Raleway;
    font-size: 25px;
    
    text-align: left;
    letter-spacing: 2px;
    line-height: 45px;
    margin-bottom: 7px;
    color:rgb(139,69,19);
    padding-left: 50px;
    padding-right: 50px;  
    
}

p {font-family:Raleway;
    word-spacing: 1px;
    font-size: 19px;
    text-align: justify;
    line-height:30px;
    padding-left: 50px;
    padding-right: 50px;
      
}
 /* Video of a cataract surgery*/ 
 /*https://www.youtube.com/watch?v=Q1d-1FzdXEE took this code */


.image-container{
    display:flex;
    flex-wrap:wrap; 
    justify-content: center;
}


/* three sections */ 
/* https://www.youtube.com/watch?v=qXRYMdvq_Dc */

.container1 {
    display:flex;
    flex-wrap:wrap; 
    justify-content: center;
}

.card {
    width:400px;
    height:400px;
    margin: 70px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.color {
    color:rgb(139,69,19);
    font-size: 18px;
    margin: 23px;

}


 /* Responsive layout - makes a one column layout instead of a two-column layout */
 /* https://www.w3schools.com/css/css3_flexbox_responsive.asp */
 .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }

  .flex-container h3 {
    text-align: center;
  }
  
  .flex-item-left {
    flex: 50%;
    
  }
  
  .flex-item-right {
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;    
    
    }
  }
 
/* footer */


h3 {
    font-size: 15px;
    color:rgb(139,69,19);
    padding-top: 40px;
    
    
}

footer li {
    display: inline;
    
}

i { 
    font-size: 20px;
    padding: 2%;
    margin: 2%;
    
}

 footer  {
    text-align: center;
    background-color:lightpink;
}

.socials {
    margin:  auto;   
}

/* Services html */

#services-heading {
    text-align: center;
}
 
#laser-heading{
    text-align: center;
    color: rgb(139,69,19);
}

#cataract-heading {
    text-align: center;
    color: rgb(139,69,19);
}

#implantable-collamer-lens-heading {
    text-align: center;
    color: rgb(139,69,19);
}

span {
    color: rgb(139,69,19);
    
}
/* images of patients */ 

.class {
    display: flex;
    flex-wrap:wrap;
}
 
/*  Contact html */

 #request-heading {
    padding-left: 220px;
}

.fa-phone {
    padding: 0;
}

.container-contact {
    display: flex;
    flex-wrap:wrap; 
      
}


form {
    width: 60%;
    padding: 20px;
    
}

.form-group {
    margin-bottom: 20px;
    margin-left: 200px;
    
}

.button {
    margin-left: 200px;
    width: 60%;
    border-radius: 5px;
    margin-top: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;
    padding-top: 40px;
   }

input, textarea {
    width:80%;
    padding:10px;
    border:1px solid #ccc;
    box-sizing: border-box;
}

 .contact h3{
    padding-top: 60px;
    
 }
    

.contact p {
    padding-left: 0;
    
}




/* Thanks page */ 
/*https://www.youtube.com/watch?v=yc2olxLgKLk*/

html {
    height:100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.thank-you {
    height: 200px;
    line-height:200px;
    text-align:center;

}

@media screen and (max-width: 750px) {
    .nav-bar {
        align-items: center;
    }

    nav > ul {
        float:  0;
        margin: 0;
    }
    
}



@media (max-width:480px) and (min-width:320px){
 
/* img {
    width:700;
    height:150px;
  }   */
  img {
    
    height:186px;}

#request-heading 
{padding-left:63px;}
 

flex-container {
    
    width:50%;
}

.app-form {
    width: 100%;
    
}

.card {
    width: 400px;
    margin: 70px;
    text-align: center;
    margin: 0 auto;
    height:322px;}

nav {
    align-items: right;
}

.container-contact {
    width:100%;
   
}

nav ul li a {
    text-decoration: none;
    font-size: 22px;}

p {
    /* text-align:left; */
}

.form-group {
    margin-bottom:5px;
    margin-left:5px;
    
}

.button {
    width: 60%;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 7px;}

input, textarea, button {
    width: 100%;
}

iframe {
    width:280px;
    height:157px;
}

#logo img{
    position: absolute;
    height:50px;
    width:50px;
    margin-top:23px;} 


}
.contact {
    margin-left: 50px;
}

/* #logo img {
    
    position: absolute;
    height:50px;
    width:50px;}
} */


nav logo {text-align: center;
    
}